*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#heading {
    width: 100%;
    height: 10%;
    text-align: center;
}

#heading h1 {
    display: inline;
    font-family: "gilroy";
    text-align: center;
    color: transparent;
    background: linear-gradient(220deg, rgb(247, 93, 22) 49%,  black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    /* border: 2px solid red; */
}

#images{
    width: 100%;
    height: 90%;
    background-color: white;
    position: relative;
}

.image{
    display: inline-block;
    width: 250px;
    height: 280px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.image:hover{
    scale: 1.25;
    z-index: 2000;
}

#first{
    position: absolute;
    top: 5%;
    left: 30%;

}
#first:hover{
    transform: translate(-50px);
}

#second{
    position: absolute;
    top: 5%;
    right: 30%;

}

#second:hover{
    transform: translate(50px);

}

#middle{
    padding: 0px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 999px;
    /* border: 4px solid black; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    box-shadow: 2px 2px 20px black ;
    z-index: 1000;
    transform: translate(-50%, -50%);
}



#middle:hover{
    scale: 1.25;
}

#third{
    position: absolute;
    top: 55%;
    left: 30%;

}
#third:hover{
    transform: translate(-50px);

}

#fourth{
    position: absolute;
    top: 55%;
    right: 30%;
}

#fourth:hover{
    transform: translate(50px);

}
